<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Liste de courses
    </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>


<body>
<div id="app">
    <h1>Ma liste de course</h1>

    <input v-model="element">
    <button @click="addOnList">Ajouter à la liste</button>
    <ul>
        <li v-for="item in list" :elem="item" :key="item.id">
            <button id="good" @click="addOnBag(item)">Ok</button>
            <p :class="{good : item.good}">{{item.text}}
                <input v-if="item.good" v-model="price" class="price">
            </p>
            <button id="delete" @click="deleteFromList(item)" >X</button>
        </li>
    </ul>
    <div id="budget-total">
        <p><span>Budget</span><input v-model="budget"></p>
        <p><span>Total : </span><span id="total">{{total}}</span></p>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="listecourse.js"></script>
</body>
</html>
